
.main {
    background-image: url('../../../public/assets/home/mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: #FFFFFF;
    padding-block: 108px 112px;
}

.main__hero {
    width: 87.467%;
    text-align: center;
    margin-inline: auto;

}

.hero__h2 {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.49;
    letter-spacing: 10px;
    line-height: auto;
    padding-bottom: 1rem;
}

.hero__h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.29px;
    padding-bottom: 1.5rem;
}

.hero__p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0px;
    padding-bottom: 1.75rem;
    opacity: 0.5;
}

@media screen and ((min-width: 768px)) {
    .main {
        background-image: url('../../../public/assets/home/tablet/image-header.jpg');
        background-position: bottom;
        padding-block: 126px 167px;
    }

    .main__hero {
        width: 49.349%;
    }

    .hero__h2 {
        padding-bottom: 24px;
    }

    .hero__h1 {
        padding-bottom: 24px;
        font-size: 56px;
        line-height: 58px;
    }

    .hero__p {
        padding-bottom: 40px;
        width: 92.085%;
    }
}

@media screen and (min-width: 992px) {
    .main {
        background-image: url('../../../public/assets/home/desktop/image-hero.jpg');
    }

    .main__hero {
        margin-inline: 165px 0;
        text-align: left;
        width: 26.3195%;
    }
}