


.button {
    text-align: right;
    border: none;
}

.main__button {
    padding-block: 15px;
    padding-inline: 1.875rem;
    background-color: #D87D4A;
    color: #FFFFFF;
}

.main__button:hover {
    background-color: #FBAF85;
}